<div class="row flex-lg-row align-items-center 5-g py-4 mb-4">
  <div class="col-12 col-lg-6">
      <img src="/img/profile-pic-4.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cook with us today.">
  </div>

  <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold mb-3">Taste the world from your kitchen</h1>
      <p class="lead">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae aut alias cum repellat delectus! Sed error pariatur itaque excepturi facere, aliquam delectus eligendi iure voluptas temporibus eius hic dicta suscipit.
      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/register" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Sign Up</a>
          <a href="/login" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Sign In</a>
      </div>
  </div>
</div>