<h1 class="pb-4">Your Shopping List</h1>

<div class="row row-cols-1 row-cols-lg-3 align-items-center g-4 py-5">
<div class="col">
    <div class="card overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
        <form action="" method="POST" id="ingredientForm">
            <div id="ingredientInputs">
                <div class="row row-cols-12 mb-3">
                    <table class="table">
                        <li class="list-group-item">
                            <label for="ingredient1" class="form-label">Ingredient</label>
                            <input type="text" class="form-control" id="ingredient1" name="ingredient[]">
                            <label for="quantity1" class="form-label">Quantity</label>
                            <input type="text" class="form-control" id="quantity1" name="quantity[]">
                        </li>
                    </table>
                </div>
            </div>

            <button type="button" class="btn btn-dark btn-primary" id="addIngredient">Add Ingredient</button>
        </form>
    </div>
</div>
</div>






<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Current Shopping Lists</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <% if(shoppingList && shoppingList.items.length > 0) { %>
                <% shoppingList.items.forEach(function(item) { %>
                    <div class="pt-1">
                        Ingredient: <%= item.ingredient %> - Quantity: <%= item.quantity %>
                    </div>
                <%  }) %>
            <% } else { %>
                <p>No items in your shopping list.</p>
            <% } %>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Earth</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>




    </div>
  </div>

  <script>
    let ingredientCount = 1;

    function addIngredient() {
        ingredientCount++;
        const newIngredient = `
        <div class="row row-cols-12 mb-3">
            <table class="table">
                <li class="list-group-item">
                    <label for="ingredient${ingredientCount}" class="form-label">Ingredient</label>
                    <input type="text" class="form-control" id="ingredient${ingredientCount}" name="ingredient[]">
                    <label for="quantity${ingredientCount}" class="form-label">Quantity</label>
                    <input type="text" class="form-control" id="quantity${ingredientCount}" name="quantity[]">
                </li>
            </table>
        </div>
        `;
        document.getElementById('ingredientInputs').innerHTML += newIngredient;
    }
</script>